body {
     margin: 0;
     width: 100%;
     height: 100vh;

     background-color: hsl(0, 0%, 100%);
     font-family: "Comic Relief", system-ui;
     /* display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start; */
}

/* #darkmode-toggle {
     margin-bottom: 10px;
     margin-left: 10em;
} */

label {
     width: 120px;
     height: 40px;

     position: absolute;
     bottom: 10.5em;
     left: 90vw;

     display: block;
     background-color: hsl(0, 0%, 95%);
     /* background-color: red; */
     border-radius: 200px;
     box-shadow: inset 0px 5px 10px hsla(0, 0%, 0%, 0.8), inset 0px -5px 12px hsl(0, 0%, 90%, 0.5);
     cursor: pointer;

     transition: 0.4s;
}

label:after {
     content: "";
     width: 35px;
     height: 35px;
     background: linear-gradient(180deg, hsla(35,100%,80%), hsl(35,100%,50%));
     border-radius: 140px;
     box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
     /* box-shadow:  0 5px 12px hsl(35,100%,50%) , 0px -5px 12px hsl(35,100%,50%); */
     
     position: absolute;
     top: 2px;
     left: 3px;

     transition: 0.4s;
}    

#darkmode-toggle {
     width: 0;
     height: 0;
     visibility: hidden;
}

#darkmode-toggle:checked + label {
     background-color: #242424;
     box-shadow: inset 0 5px 12px hsla(0,0%, 20%,0.4) , inset 0px -5px 5px hsla(0, 0%, 90%, 0.55);
}
#darkmode-toggle:checked + label:after {
     left: 117px;
     transform: translateX(-100%);
     background: linear-gradient(180deg,hsla(0,0%,35%,0.95), hsla(0,0%,30%,0.4));
}
label:active:after{
     width: 65px;
}    

label svg {
     position: absolute;
     width: 25px;
     height: 25px;
     top: 8px;
     z-index: 100;
}
label svg.sun {
     left: 8px;
     fill: #fff;
     transition: 0.3s;
}

label svg.moon {
     left: 87px;
     fill: #7e7e7e;
     transition: background-color 0.3s;
}

#darkmode-toggle:checked + label svg.sun {
     fill: #7e7e7e;
}
#darkmode-toggle:checked + label svg.moon {
     fill: #fff;
}


.frontPage {
     height: 90vh;
     width: 100%;

     background: linear-gradient(90deg, #a6a6a6, hsl(0, 0%, 100%));
}

.frontPage span h1 {
     font-family: "Comic Relief", system-ui;
     font-size: 4em;
     font-weight: 200;
}
.frontPage span {
     width: 31em;
     display: flex;
     justify-self: flex-end;
     /* margin-right: 1em; */
}

.frontPage span h1 {
     font-family: "Comic Relief", system-ui;
     /* font-size: 4rem; */
     /* text-align:end; */
}

.frontPage input {
     width: 40%;
     height: 2em;
     margin-left: 250px;
     /* margin-top: 10px; */

     /* text-align: center; */
     padding-left: 1em;
     padding-right: 2.5em;
     font-size: 30px;
     border-radius: 200px;
     border: 5px solid black;
     box-shadow: -3px 7px 10px hsl(0, 0%, 35%);
     box-sizing: border-box;

     background: hsl(0, 0%, 90%);
}

.frontPage #searchIcon {
     width: 2em;
     /* background-color: red; */
     position: relative;
     right: 4em;
     top: 0.3em;
}
.frontPage #paintIcon {
     width: 2em;
     
     position: absolute;
     right: 17em;
     bottom: 7em;
}
.frontPage #myName {
     position: absolute;
     right: 5.4em;
     bottom: 6em;
}

table{
     width:  90vw;
     border: 2px solid black;

     margin-top: 1em;
     border-radius: 5px;
     justify-self: center;
}

tr {
     height: 2rem;
     padding: 2em;
}

tr:nth-last-of-type(2n+1){
     height: 2rem;
     background-color: hsl(0, 0%, 85%);
}

thead, th {
     background-color: hsl(0, 0%, 45%);
     height: 2em;
     color: hsl(0, 0%, 100%);
}
